{% extends "fragments/default.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
{% include "fragments/navbar.html" with active="modules" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/jsoneditor.min.css">
    <script type="text/javascript" src="/static/js/jsoneditor.min.js"></script>
{% endblock %}

{% block content %}
<div class="col-lg-9">
    <h4 style="margin-bottom:10px">{% if manifest %}Edit manifest{% else %}Create manifest{% endif %}</h4>
    {% crispy form %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function() {
    // create the editor
    var container = $("#div_id_value div")[0];
    var editor = new JSONEditor(container, {
        change: function(){
            $("#id_value").val(JSON.stringify(editor.get(), undefined, 2));
        }
    });

    // set json
    var json = $("#id_value").val();
    if (json) {
        editor.setText(json);
    }
    else {
        editor.set({});
    }

    $("#id_value").on("change keyup paste", function(){
        editor.setText($(this).val());
    });


    $("#id_module").change(function(){
        var module = $(this).val();
        $.getJSON("/modules/get_scheme/"+module, function(data){
            var json = JSON.stringify(data, undefined, 2);

            $("#id_value").val(json);
            
            editor.setText(json);
        });
    });

  });
</script> 
{% endblock %}
