{% load crispy_forms_tags %}
{% include "fragments/head.html" with nav_active="projects" %}

    <div class="row-fluid">
        <div class="span9">
            <h4 style="margin-bottom:10px">{% if project %}Edit Project{% else %}Create Project{% endif %}</h4>
            {% crispy form %}
        </div>
    </div>

    <link href="/static/css/select2.css" rel="stylesheet"/>
    <script src="/static/js/select2.min.js"></script>

    <script>
        $("#id_allowed_users").select2({
            placeholder: "Select users",
            allowClear: true
        })
    </script>
{% include "fragments/foot.html" %}
