{% include "fragments/head.html" with nav_active="projects" %}
    {% if not project %}
    <div class="row-fluid"><div class="span9">Not Authorized</div></div>
    {% else %}
    <div class="row-fluid">
        <div class="span9">
            <h4>Project details</h4>
            <p>
                <strong>Name:</strong> {{project.name}}
                <br/>
                <strong>Github url:</strong> {{project.github_url}}
                <br/>
                <strong>Branch:</strong> {{project.branch}}
                <br/>
                <br/>
                <strong>Hook url:</strong> {{hook_uri}}
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span9">
            <h4>Release workflows</h4>
            <a href="{% url 'workflow_create' project=project.id %}" class="btn btn-success">Create workflow</a>
            <p>
            {% if project.releaseflow_set.all %}
                <table class="table table-hover table-bordered table-condensed">
                    <tbody>
                        {% for workflow in project.releaseflow_set.all %}
                        <tr>
                            <td width="100%">{{ workflow.name }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'workflow_edit' id=workflow.id %}" title="Edit"><i class="icon-edit"></i></a>
                                    <a class="btn" href="{% url 'workflow_delete' id=workflow.id %}" title="Edit"><i class="icon-remove"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
 
            {% else %}
            <div class="alert">
                <strong>No release flows!</strong>
            </div>
            {% endif %}
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span9">
            <h4>Releases</h4>
            <p>
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>Request date</th><th>Workflow</th><th>Build</th><th>Status</th></tr></thead>
                    <tbody>
                        {% for release in releases %}
                        <tr>
                            <td >{{ release.release_date }}</td>
                            <td >{{ release.flow.name }}</td>
                            <td >{{ release.build.build_file }}</td>
                            <td >{{ release.get_state }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span9">
            <h4>Builds for {{project.name}}</h4>
            <a href="{% url 'projects_build' id=project.id %}" class="btn btn-danger">Build!</a>
            <p>
                <table class="table table-hover table-bordered table-condensed">
                    <tbody>
                        {% for build in builds %}
                        {% if build.state == 0 %}<tr class="info">{%endif%}
                        {% if build.state == 1 %}<tr class="success">{%endif%}
                        {% if build.state == 2 %}<tr class="error">{%endif%}
                            </td>
                            <td width="100%">{{ build.build_time }}</td>
                            <td>{{ build.build_file }}</td>
                            <td>
                                {% if build.state == 0 %}In Progress{%endif%}
                                {% if build.state == 1 %}Success{%endif%}
                                {% if build.state == 2 %}Failed{%endif%}
                                {% if build.state == 3 %}Cancelled{%endif%}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'build_view' id=build.id %}"><i class="icon-list" title="View log"></i></a>
                                    {% if build.state == 0 %}
                                    <a class="btn" href="{% url 'build_cancel' id=build.id %}"><i class="icon-remove" title="Cancel"></i></a>
                                    {% endif %}
                                    {% if build.state == 1 %}
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-fire" title="Release"></i> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for workflow in project.releaseflow_set.all %}
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">{{workflow.name}}</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'workflow_push' flow=workflow.id build=build.id %}"><i class="icon-hand-right"></i> Push</a></li>
                                                <li><a href="{% url 'workflow_schedule' flow=workflow.id build=build.id %}"><i class="icon-time"></i> Schedule</a></li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {%endif%}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>
    {% endif %}
{% include "fragments/foot.html" %}
