{% include "fragments/head.html" with nav_active="servers" %}

    <div class="row-fluid">
        <div class="span9">
            <h4>Servers</h4>
            <p>
                {% if servers %}
                <table class="table table-hover table-bordered table-condensed">
                    <tbody>
                        {% for server in servers %}
                        <tr class="info">
                            <td width="100%">{{ server.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br/><br/>
                No servers configured
                {% endif %}
            </p>
        </div>
    </div>

{% include "fragments/foot.html" %}
