<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 sidebar">
  <ul class="nav nav-sidebar">
    <li {% if active == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Build queue</a></li>
    {% if user.is_superuser %}
    <li {% if active == "releases" %}class="active"{% endif %}><a href="{% url 'release_index' %}">Release streams</a></li>
    <li {% if active == "servers" %}class="active"{% endif %}><a href="{% url 'server_index' %}">Servers</a></li>
    <li {% if active == "modules" %}class="active"{% endif %}><a href="{% url 'module_index' %}">Modules</a></li>
    {% endif %}
    <li {% if active == "help" %}class="active"{% endif %}><a href="{% url 'help_index' %}">Help</a></li>
  </ul>
  <h4>Projects
  {% if user.is_superuser %}
  &nbsp;[<a href="{% url 'projects_create' %}" > + </a>]
  {% endif %}
  </h4>
  <input placeholder="Search Projects" id="box" type="text" />
  <ul class="nav nav-sidebar nav-search">
    {% for p in projects %}
    <li {% if p.id == project.id %}class="active"{% endif %}>
        <a href="{% url 'projects_view' id=p.id %}">&nbsp;&nbsp;{{ p.name }}</a>
    </li>
    {% endfor %} 
  </ul>
</div>

<script>
    $(function () {
        $('#box').keyup(function(){

            var valThis = $(this).val().toLowerCase();

            $('.nav-search>li').each(function(){
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) != -1) ? $(this).show() : $(this).hide();            
            });
        });
    });
</script>
