<div class="col-sm-3 col-md-2 sidebar">
 <ul class="nav nav-sidebar">

    <li {% if active == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Build queue</a></li>
    {% if user.is_superuser %}
    <li {% if active == "releases" %}class="active"{% endif %}><a href="{% url 'release_index' %}">Release streams</a></li>
    <li {% if active == "servers" %}class="active"{% endif %}><a href="{% url 'server_index' %}">Servers</a></li>
    {% endif %}
    <li {% if active == "help" %}class="active"{% endif %}><a href="{% url 'help_index' %}">Help</a></li>
  </ul>
Projects
 <ul class="nav nav-sidebar">
    {% for p in projects %}
    <li {% if p.id == project.id %}class="active"{% endif %}>
        <a href="{% url 'projects_view' id=p.id %}">&nbsp;&nbsp;{{ p.name }}</a>
    </li>
    {% endfor %} 
  </ul>
</div>
