{% include "fragments/head.html" with nav_active="home" %}

    <div class="row-fluid">
        <div class="span9">
            <h4>Build queue</h4>
            <p>
                {% if builds %}
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>Build time</th><th>Project</th></tr></thead>
                    <tbody>
                        {% for build in builds %}
                        <tr class="info">
                            <td>{{ build.build_time }}</td>
                            <td>{{ build.project.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                No builds in progress
                {% endif %}
            </p>
        </div>
    </div>

{% include "fragments/foot.html" %}
