{% include "fragments/head.html" with nav_active="home" %}

    <div class="row-fluid">
        <div class="span9">
            <h4>Build queue</h4>
            <p>
                {% if builds %}
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>Build time</th><th>Project</th><th></th></tr></thead>
                    <tbody>
                        {% for build in builds %}
                        <tr class="info">
                            <td>{{ build.build_time }}</td>
                            <td width="70%">{{ build.project.name }}</td>
                            <td>
                            {% if build.project.id %}
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'build_cancel' id=build.id %}"><i class="icon-remove" title="Cancel"></i></a>
                                </div>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                No builds in progress
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span9">
            <h4>Last builds</h4>
            <p>
                {% if last_builds %}
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>Build time</th><th>Project</th><th>State</th><th></th></tr></thead>
                    <tbody>
                        {% for build in last_builds %}
                        {% if build.state == 0 %}<tr class="info">{%endif%}
                        {% if build.state == 1 %}<tr class="success">{%endif%}
                        {% if build.state == 2 %}<tr class="error">{%endif%}
                            <td>{{ build.build_time }}</td>
                            <td width="50%">{{ build.project.name }}</td>
                            <td>
                                {% if build.state == 0 %}In Progress{%endif%}
                                {% if build.state == 1 %}Success{%endif%}
                                {% if build.state == 2 %}Failed{%endif%}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'build_view' id=build.id %}"><i class="icon-list" title="View log"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                No builds
                {% endif %}
            </p>
        </div>
    </div>

{% include "fragments/foot.html" %}
