<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sideloader</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/sideloader.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="/static/images/sideloader32.png" class="logoimg"/> Sideloader</a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        Your signoff has been recorded, you may now close this window
    </div>
  </body>
</html>

