{% extends "fragments/default.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
{% include "fragments/navbar.html" %}
{% endblock %}

{% block head %}
<link href="/static/css/select2.css" rel="stylesheet"/>
<link href="/static/css/select2-bootstrap.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="col-lg-9" id="formcontainer">
    <h4 style="margin-bottom:10px">{% if workflow %}Edit workflow{% else %}Create workflow{% endif %}</h4>
    {% crispy form %}

</div>
{% endblock %}

{% block script %}
<script src="/static/js/select2.min.js"></script>
<script>
    $(function () {
        $("#id_targets").select2({
            width: "resolve",
            placeholder: "Select servers",
            allowClear: true
        })

        var signoff = true;

        function toggleSignoff(){
            var signoff = !$("#id_require_signoff")[0].checked;
            if (signoff) {
                $("#div_id_signoff_list").hide();
                $("#div_id_quorum").hide();
            }
            else {
                $("#div_id_signoff_list").show();
                $("#div_id_quorum").show();
            }
        }

        function toggleMode(){
            var mode = $('input:radio[name=stream_mode]:checked').val();

            if (mode==1) {
                $("#div_id_stream").hide();
                $("#div_id_targets").show();
            }
            else if (mode==0){
                $("#div_id_stream").show();
                $("#div_id_targets").hide();
            }
            else if (mode==2){
                $("#div_id_stream").show();
                $("#div_id_targets").show();
            }
        }

        $("#id_require_signoff").click(toggleSignoff);
        toggleSignoff();
        
        $('input:radio[name=stream_mode]').change(toggleMode);
        toggleMode();
    });
</script>
{% endblock %}
